In [1]:
import datetime
import os
import pandas as pd
import numpy as np
from pprint import pprint
import requests
# Scrappings tools for downloading
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
import time
import re

In [2]:
qualifiying_weather = pd.read_csv('./input/weather_cleaned.csv')

In [3]:
qualifiying_weather.tail()

                  gp_title  year clean_weather  round
247     Spanish Grand Prix  2011    sunny,fine      5
248     Turkish Grand Prix  2011    sunny,fine      4
249     Chinese Grand Prix  2011      fine,dry      3
250   Malaysian Grand Prix  2011    cloudy,dry      2
251  Australian Grand Prix  2011         sunny      1

In [4]:
weather_dict = {
    'weather_warm': ['clear sky', 'clear', 'warm', 'sunny', 'hot', 'fine'],
    'weather_cold': ['mild'],
    'weather_dry': ['dry'],
    'weather_wet': ['rain', 'rain at time', 'wet', 'light rain', 'rainy', 'heavy rain', 'humid', 'rainy'],
    'weather_cloudy': ['cloudy', 'overcast', 'mostly cloudy', 'partly cloud', 'partly cloudy'],
}

In [5]:
weather_df = pd.DataFrame(columns=weather_dict.keys())

In [6]:
weather_df

Empty DataFrame
Columns: [weather_warm, weather_cold, weather_dry, weather_wet, weather_cloudy]
Index: []

In [7]:
for col in weather_df:
    weather_df[col] = qualifiying_weather["clean_weather"].map(lambda x: 1 if any(i in weather_dict[col] for i in x.lower().split(',')) else 0)

In [8]:
weather_df

     weather_warm  weather_cold  weather_dry  weather_wet  weather_cloudy
0               0             0            1            0               0
1               0             0            1            0               0
2               0             0            1            1               0
3               0             0            1            0               0
4               0             0            0            1               0
..            ...           ...          ...          ...             ...
247             1             0            0            0               0
248             1             0            0            0               0
249             1             0            1            0               0
250             0             0            1            0               1
251             1             0            0            0               0

[252 rows x 5 columns]

In [9]:
weather_info = pd.concat([qualifiying_weather, weather_df], axis=1)

In [10]:
weather_info.shape

(252, 9)

In [11]:
weather_info.tail()

,gp_title,year,clean_weather,round,weather_warm,weather_cold,weather_dry,weather_wet,weather_cloudy
247,Spanish Grand Prix,2011,"sunny,fine",5,1,0,0,0,0
248,Turkish Grand Prix,2011,"sunny,fine",4,1,0,0,0,0
249,Chinese Grand Prix,2011,"fine,dry",3,1,0,1,0,0
250,Malaysian Grand Prix,2011,"cloudy,dry",2,0,0,1,0,1
251,Australian Grand Prix,2011,sunny,1,1,0,0,0,0

In [12]:
if not os.path.exists('./output'):
    os.mkdir('./output')
weather_info.to_csv('./output/qualifiying_weather.csv', index = False)