In [1]:
%matplotlib inline
import pandas as pd

## 1. Loading the Data set

In [2]:
df_races = pd.read_csv('../data/inputs/races.csv')
df_results = pd.read_csv('../data/outputs/01_results_cleaned.csv')

In [3]:
print(df_races.shape)
df_races.head()

(1101, 18)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [4]:
print(df_results.shape)
df_results.head()

(26080, 13)

,resultId,raceId,driverId,constructorId,grid,points,laps,milliseconds,fastestLap,race_rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,10.0,58,5690616,39,2,87452,218.300,1
1,2,18,2,2,5,8.0,58,5696094,41,3,87739,217.586,1
2,3,18,3,3,7,6.0,58,5698779,41,5,88090,216.719,1
3,4,18,4,4,11,5.0,58,5707797,58,7,88603,215.464,1
4,5,18,5,1,3,4.0,58,5708630,43,1,87418,218.385,1

## 2. Merging the two Data set

In [5]:
df_race_results = df_results.merge(df_races[['raceId', 'year', 'round', 'circuitId', 'name']], how='inner', on='raceId')

In [6]:
print(df_race_results.shape)
df_race_results = df_race_results[df_race_results.year >= 2008]

(26080, 17)

In [7]:
print(df_race_results.shape)
df_race_results.head()

(6465, 17)

,resultId,raceId,driverId,constructorId,grid,points,laps,milliseconds,fastestLap,race_rank,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name
0,1,18,1,1,1,10.0,58,5690616,39,2,87452,218.300,1,2008,1,1,Australian Grand Prix
1,2,18,2,2,5,8.0,58,5696094,41,3,87739,217.586,1,2008,1,1,Australian Grand Prix
2,3,18,3,3,7,6.0,58,5698779,41,5,88090,216.719,1,2008,1,1,Australian Grand Prix
3,4,18,4,4,11,5.0,58,5707797,58,7,88603,215.464,1,2008,1,1,Australian Grand Prix
4,5,18,5,1,3,4.0,58,5708630,43,1,87418,218.385,1,2008,1,1,Australian Grand Prix

In [8]:
df_race_results.to_csv("../data/outputs/02_races_results.csv", index=False)