In [22]:
import pandas as pd

## 1. Chargement du Dataset

In [23]:
df_races = pd.read_csv('../../data/inputs/races.csv')
df_results = pd.read_csv('../../data/outputs/01_results_cleaned.csv')

In [24]:
print(df_races.shape)
df_races.head()

(1101, 18)

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [25]:
print(df_results.shape)
df_results.head()

(26080, 13)

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,milliseconds,fastestLap,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10.0,58,5690616,39,87452,218.300,1
1,2,18,2,2,5,2,8.0,58,5696094,41,87739,217.586,1
2,3,18,3,3,7,3,6.0,58,5698779,41,88090,216.719,1
3,4,18,4,4,11,4,5.0,58,5707797,58,88603,215.464,1
4,5,18,5,1,3,5,4.0,58,5708630,43,87418,218.385,1

## 2. Renomons la colonne positionOrder par race_rank

In [26]:
df_results.rename({'positionOrder': 'race_rank'}, axis=1, inplace=True)

## 3. Associons les deux jeux de données

In [27]:
df_race_results = df_results.merge(df_races[['raceId', 'year', 'round', 'circuitId', 'name']], how='inner', on='raceId')

In [28]:
print(df_race_results.shape)
df_race_results.head()

(26080, 17)

,resultId,raceId,driverId,constructorId,grid,race_rank,points,laps,milliseconds,fastestLap,fastestLapTime,fastestLapSpeed,statusId,year,round,circuitId,name
0,1,18,1,1,1,1,10.0,58,5690616,39,87452,218.300,1,2008,1,1,Australian Grand Prix
1,2,18,2,2,5,2,8.0,58,5696094,41,87739,217.586,1,2008,1,1,Australian Grand Prix
2,3,18,3,3,7,3,6.0,58,5698779,41,88090,216.719,1,2008,1,1,Australian Grand Prix
3,4,18,4,4,11,4,5.0,58,5707797,58,88603,215.464,1,2008,1,1,Australian Grand Prix
4,5,18,5,1,3,5,4.0,58,5708630,43,87418,218.385,1,2008,1,1,Australian Grand Prix

## 4. Exporter le Dataset

In [29]:
df_race_results.to_csv("../../data/outputs/03_races_results.csv", index=False)